html {
    scroll-behavior: smooth;
}

.theme-light {
    --base-body-background: rgb(224, 224, 224);
    --base-body-color: #282828;
    --base-container-background-0: rgb(240, 240, 240);
    --base-container-background-1: rgb(142, 229, 225);
    --base-container-background-2: rgb(74, 186, 181);
    --base-container-background-3: rgb(45, 136, 131);
    --base-sun: rgb(74, 186, 181);
    --base-moon: rgb(51, 33, 72);
    --base-sidebar-link: #f3f3f3;
    --base-sidebar-link-active: #282828;
}

.theme-dark {
    --base-body-background: #000000;
    --base-body-color-1: #e7e7e7;
    --base-body-color-2: #a6a6a6;
    --base-container-background-sidebar-1: #121212;
    --base-container-background-sidebar-2: #1f1f1f;
    --base-container-background-content-1: #1f1f1f;
    --base-sun: rgb(74, 186, 181);
    --base-moon: rgb(51, 33, 72);
    --base-sidebar-link: #a6a6a6;
    --base-sidebar-link-active: #c38fff;
}

body {
    background-color: var(--base-body-background);
    color: var(--base-body-color-1);
    transition: background-color 0.4s, color 0.4s;
    font-family: monospace,'Open Sans', sans-serif;
}

.container {
    display: flex;
    margin: 0 auto;
}

.container .sidebar {
    background-color: var(--base-container-background-sidebar-2);
    height: 100vh;
    position: fixed;
    width: 220pt;
}

.container .content {
    flex: 1;
    background-color: var(--base-body-background);
    margin-top: 20pt;
    margin-bottom: 20pt;
    margin-left: calc(220pt + 20pt);
    display: block;
    width: calc(100% - 220pt);
}

.sidebar-title {
    background-color: var(--base-container-background-sidebar-1);
}

.sidebar-title span {
    display: block;
    width: 100%;
    text-align: center;
}

.sidebar-title hr {
    width: 75%;
    margin: 7pt auto;
}

.sidebar-title-name {
    padding-top: 20pt;
    font-size: 20pt;
    font-weight: bold;
}

.sidebar-title-position {
    padding-bottom: 15pt;
    font-size: large;
}

svg {
  shape-rendering: crispEdges;
}

#sidebar-svg rect{
    fill: var(--base-container-background-sidebar-2);
}

#sidebar-svg path{
    fill: var(--base-container-background-sidebar-1);
}

.sidebar-nav {
    margin-top: 1pt;
}

.sidebar-nav-link {
    padding: 5pt 20pt;
}

.sidebar-nav-link-hr {
    background-color: var(--base-container-background-sidebar-1);
    height: 1px;
    width: 100%;
    opacity: 0.4;
}

.sidebar-nav-link i{
    float: right;
}

.sidebar-nav-link a {
    text-decoration: none;
    color: var(--base-sidebar-link);
}

.sidebar-nav-link a:hover, .sidebar-nav-link a.active {
    text-decoration: none;
    color: var(--base-sidebar-link-active);
}

.content-block h2 {
    font-weight: bold;
    color: var(--base-body-color-1);
}

.content-block {
    background-color: var(--base-container-background-content-1);
    padding: 20pt 20pt;
    color: var(--base-body-color-2);
}

.content-block p {
    text-align: justify;
}

.border-bottom-title {
    background-color: red;
    height: 2.5pt;
    margin-bottom: 20pt;
    width: 50pt;
}

#about img {
    display: block;
    margin: 0 auto;
    width: 256px;
    border-radius: 7pt;
}

.education-block-dot {
    content: '';
    width: 10px;
    height: 10px;
    margin-left: -19pt;
    margin-top: 3pt;
    position: absolute;
    border-radius: 50%;
    background-color: #000;
}

.education-block {
    padding: 10pt 15pt;
    border-left: 1px solid red;
    border-bottom: 1px solid red;
}

#contact ul {
    list-style-type: none;
    padding: 0;
}

#contact ul li {
    padding: 2.5pt 0;
}

.contact-vertical-icon-item {
    color: var(--base-container-background-content-1);
    background-color: var(--base-body-color-1);
    height: 24pt;
    width: 24pt;
    padding-top: 6pt;
    border-radius: 3pt;
}

#contact a, #contact a:hover, #contact a:visited{
    text-decoration: none;
    color: var(--base-body-color-1);
}

.footer {
    text-align: center;
}